gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=476334c1d5ad40cabb0e64bbb7c80a2e
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
